@import "tailwindcss";

:root {
  --background: #07080a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@theme {
  --color-primary: #025bcf;
  --color-accent: #1b6392;
  --color-secondary: #8592a3;
  --color-basewhite: #ffffff;

  --color-g-900: #07080a;
  --color-g-800: #0c0d0f;
  --color-g-700: #111214;
  --color-g-600: #1b1c1e;
  --color-g-500: #2f3031;
  --color-g-400: #434345;
  --color-g-300: #6a6b6c;
  --color-g-200: #9c9c9d;
  --color-g-100: #cdecec;
  --color-g-50: #e6e6e6;

  --color-bg: #f7f7f7;
  --color-border: #e7e3e4;

  --color-light-green: #cfffc8;
  --color-dark-green: #16a600;
  --color-light-red: #ffecec;
  --color-dark-red: #dc4848;
  --color-light-yellow: #fffad2;
  --color-dark-yellow: #ffab00;
  --color-light-blue: #dbf9ff;
  --color-dark-blue: #03c3ec;
  --color-accent-color-1: #69edfe;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f7f7f9;
}

*::-webkit-scrollbar-thumb {
  background: #0073cf;
}

*::-webkit-scrollbar-thumb:hover {
  background: #0053cf;
}

.scrollbar::-webkit-scrollbar {
  height: 3px !important;
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
